<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Блог сайта</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    
    <div class="container mt-5">
        <h1>Блог сайта</h1>
        <div th:each="el : ${posts}" class="alert alert-info mt-2">
            <h3 th:text="${el.title}" />
            <p th:text="${el.anons}" />
            <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Детальнее</a>
        </div>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>