<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Редактирование статьи</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>
    
    <div class="container mt-5 mb-5">
        <h1>Редактирование статьи</h1>
        <div th:each="el : ${post}">
            <form method="post">
                <input type="text" th:value="${el.title}" name="title" placeholder="Введите название статьи" class="form-control"><br>
                <input type="text" th:value="${el.anons}" name="anons" placeholder="Введите анонс статьи" class="form-control"><br>
                <textarea name="full_text" placeholder="Введите полный текст статьи" class="form-control" th:text="${el.full_text}" /><br>
                <button type="submit" class="btn btn-success">Обновить</button>
            </form>
    </div>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>